/* style.css */

body {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: 'Black Ops One', cursive;
	font-size: 40px;
	text-align: center;
	color: white;
}

h2 {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 35px;
	text-align: center;
	color: #000000;
}

header {
	height: 100px;
	background-color:#000000;
	display: flex; 
  	flex-direction: column; 
  	justify-content: center; 
}

nav li {
float: left;
font-size:25px;
display: inline-block;
justify-content: center; 
height:100px;
  }

nav ul {
	margin: 0px;
	padding: 0px;
}

nav {
	width: 100%;
	background-image: url(image-1.jpg);
}

nav:hover {
	width: 100%;
	background-image: url(image-2.jpg);
}


nav a {
	padding: 20px 30px;
}


footer {
	height: 80px;
	color: blue;
	background-color: #000000;
	padding-top: 30px;
	border-top: 2px; 
	border-color: #F68121;
	text-align: center;
}

.link {
color: #000000;
hover color: #FFFFFF;
text-decoration: none;
}

.menu {
display: table;
margin: 0 auto;
}

#bandeannonce {
height: 500px;
background-color : #F68121;
}

.container {
margin: 0px 10%;
}

.left {
float: left;
width: 50%;
}

.right {
float:left;
width: 50%;
}



.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}

.carousel-item {
    margin-left: 1rem;
}

@media all and (min-width: 1025px){
nav li {
display: block;}

}

@media all and (max-width: 1024px){

	h1 {
	margin-right: 25px;
	margin-left: 25px;
	}

	header {
	height : 100px;
	}

	nav li {
	text-align: center;
	font-size:20px;
	display: block;
	padding:10%;
	height:25px;
	}


	footer {
	height:120px;;
	}

}



