/* style.css */

body {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	background-color: #FFFCF5;
}

h1 {
	font-family: 'Black Ops One', cursive;
	font-size: 40px;
	padding:0px;
    margin:0px;
	text-align: center;
	color: white;
}

h2 {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 35px;
	padding: 0px;
    margin: 15px;
	text-align: center;
	color: #000000;
}

h3 {
	font-family: 'Helvetica Neue';
	font-size: 25px;
	text-align: center;
	padding: 30px;
	color: #FFFFFF;
}

h4 {
	font-family: 'Helvetica Neue';
	font-size: 30px;
	text-align: left;
	padding: 20px;
	color: #000000;
	margin: 0;
}

h5 {
	font-family: 'Helvetica Neue';
	font-size: 16px;
}

header {
	height: 100px;
	background-color: #ff5d0e;
	display: flex; 
  	flex-direction: column; 
  	justify-content: center; 
}

nav li {
float: left;
font-size:25px;
position: relative;
display: inline-block;
justify-content: center; 
height:20px;
  }

nav ul {
 	align-items: center;
	margin: 0px;
	padding: 0px;
}

nav {
	width: 100%;
	height: 220px;
	background-image: url(image-1.jpg);
	border-bottom: ridge #ff5d0e;
}

nav:hover {
	width: 100%;
	background-image: url(image-2.jpg);
}


nav a {
	padding: 20px 30px;
}

nav a:hoover {
	color: #000000;
	padding: 20px 30px;
}

footer {
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
	height: 60px;
	color: blue;
	background-color: #ff5d0e;
	padding-top: 15px;
	border-top: 2px; 
	border-color: #F68121;
	text-align: center;
}

.link {
color: #000000;
hover color: #FFFFFF;
text-decoration: none;
}

.link-menu {
color: #FFFFFF;
text-decoration: none;
}

.menu {
display: table;
margin: 0 auto;
}

#bandeannonce {
min-height: 550px;
background-color : #FFFCF5;
}

#carousel {
padding-top:20px;
min-height: 550px;
background-color :#FFFCF5;
}

.container {
margin: 0px 10%;
}

.left {
float: left;
width: 50%;
}

.right {
float:left;
vertical-align: middle;
width: 40%;
padding:20px;
}

.center {
  display: inline-block	
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}

.carousel-item {
    margin-left: 1rem;
}

#realisateurs {
min-height: 100;
height: auto;
background-color: #FFFCF5;
text-align: left;
margin-left: 100px;
margin-right: 100px;
border-bottom: ridge #ff5d0e;

}

#acteurs {
min-height: 100%;
background-color: #FFFCF5;
height: auto;
margin-left:100px;
margin-right:100px;
padding: 0 0 100px;
text-align: left;
}

.feature {
display:inline-flex;
margin: 30px;
padding: 30px;
text-align: justify;
width: 150px;
}

.caption {
  width:200px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}
}

@media all and (min-width: 1025px){
nav li {
display: block;}

}

@media all and (max-width: 1024px){


	h1 {
		width: auto;
		margin-right: 15px;
		margin-left: 25px;
	}

	header {
		width: auto;
		height : 100px;
	}

	nav
    {
        width: auto;
        height: auto;

    }

	nav li {
		width: auto;
		text-align: left;
		font-size:16px;
		display: block;
		height:10px;
	}

nav ul{
		flex-direction: column;
	}
}

@media all and (max-width: 700px){


	h1 {
		font-size: 26px;
		width: auto;
		margin-right: 25px;
		margin-left: 25px;
	}

	#bandeannonce {
	min-height: 700px;
	background-color: #FFFCF5;
	}

	header {
		width: auto;
		height : 100px;
	}


	nav ul{
		flex-direction: column;
	}

	#realisateurs {
		min-height: 100%;
		height: auto;
		background-color: #FFFCF5;
		text-align: left;
		margin-left: 0px;
		margin-right: 0px;
		border-bottom: ridge #ff5d0e;
	}

	#acteurs {
		min-height: 100%;
		background-color: #FFFCF5;
		height: auto;
		padding: 0 0 100px;
		margin-left: 0px;
		margin-right: 0px;
		text-align: left;
	}

}

@media all and (max-width: 525px){

	#bandeannonce {
	min-height: 900px;
	background-color: #FFFCF5;
	}

	

@media all and (max-width: 400px){

	#bandeannonce {
	min-height: 1400px;
	background-color : #FFFCF5;
	}

}